{:source-paths ["src"]
 :dependencies []
 :dev-http {8280 "resources/public"}
 :builds {:app {:target     :browser
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :modules {:app {:init-fn test-evergreen.core/init}}}}}
